name: Reusable pnpm caching workflow

on:
    workflow_call:
        inputs:
            runner:
                required: true
                type: string
            node-version:
                required: true
                type: string
            pnpm-version:
                required: true
                type: string

jobs:
    install_dependencies:
        name: Install dependencies and caching
        runs-on: ${{ inputs.runner }}

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.1
              with:
                  node-version: ${{ inputs.node-version }}
                  package-manager: pnpm
                  package-manager-version: ${{ inputs.pnpm-version }}
